<footer id="footer" class="py-5 border-top">
  <div class="container-md">
    <div class="row">
      <div class="col-lg-3 pb-3">
        <div class="footer-menu">
          <h5 class="widget-title pb-2">Thông tin liên hệ</h5>
          <ul class="menu-list list-unstyled">
            <li class="pb-2">
              <span class="text-hover fw-bold light-border"
                >Hotline: {{ constant.InfoWeb.Hotline }}</span
              >
            </li>
            <li class="pb-2">
              <span class="text-hover fw-bold light-border"
                >Email: {{ constant.InfoWeb.Email }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 pb-3">
        <div class="footer-menu">
          <h5 class="widget-title pb-2">Thông tin và chính sách</h5>
          <ul class="menu-list list-unstyled">
            <li class="pb-2">
              <a href="#">History</a>
            </li>
            <li class="pb-2">
              <a href="#">Our Team</a>
            </li>
            <li class="pb-2">
              <a href="#">Services</a>
            </li>
            <li class="pb-2">
              <a href="#">Company</a>
            </li>
            <li class="pb-2">
              <a href="#">Manufacture</a>
            </li>
            <li class="pb-2">
              <a href="#">Wholesale</a>
            </li>
            <li class="pb-2">
              <a href="#">Retail</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 pb-3">
        <div class="footer-menu">
          <h5 class="widget-title pb-2">Hệ thống cửa hàng T-Bike</h5>
          <ul class="menu-list list-unstyled">
            <li class="pb-2" *ngFor="let item of constant.InfoWeb.Address">
              <span class="text-hover fw-bold light-border">
                {{ item.Name }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <div class="header-top border-bottom py-2">
        <div class="container-lg">
          <div class="row justify-content-evenly">
            <div class="col">
              <ul class="social-links list-unstyled d-flex m-0">
                <li class="pe-2">
                  <a href="#">
                    <svg class="facebook" width="20" height="20">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="pe-2">
                  <a href="#">
                    <svg class="instagram" width="20" height="20">
                      <use xlink:href="#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="pe-2">
                  <a href="#">
                    <svg class="youtube" width="20" height="20">
                      <use xlink:href="#youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="pinterest" width="20" height="20">
                      <use xlink:href="#pinterest"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col d-none d-md-block">
              <p class="text-center text-black m-0"><strong>Special Offer</strong>: Free Shipping on all the orders above $100
              </p>
            </div>
            <div class="col">
              <ul class="d-flex justify-content-end gap-3 list-unstyled m-0">
                <li>
                  <a href="#">Contact</a>
                </li>
                <li>
                  <a href="#">Cart</a>
                </li>
                <li>
                  <a href="#">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
